<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Leti</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">La Leti</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Vida</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/work">Obras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/photo-gallery">Galería</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <h1>Leticia Sabater</h1>
        <img src="/images/leticia-sabater.png" alt="" width="500px">

        <p>Leticia María Sabater Alonso es una presentadora de televisión, actriz y cantante española, que se dio a
            conocer en la década de los noventa por presentar varios programas infantiles.</p>

        <h2>Etapa Musical</h2>

        <p>El 12 de junio de 2016 publicó a través de Youtube su nuevo video La Salchipapa, el cual fue criticado en la
            web por lo que se percibía como una calidad musical dudosa. Sabater aspiraba desde el principio a que su
            canción fuera una de las canciones del verano, de las que se acaban escuchando en fiestas populares y
            chiringuitos de playa, pero la melodía no se volvió verdaderamente popular hasta el 21 de julio, día en que
            la cantante protagonizó un notorio disturbio en Twitter. Cuando una usuaria retuiteó la canción con el
            comentario «Para los fans de Kuala Lumpur de Leticia Sabater», la aludida replicó «huala lampur lo será tu
            puta madre», aparentemente confundiendo la capital de Malasia con un insulto. Este intercambio produjo que
            en 24 horas se registraran más de cuatro millones de reproducciones en Youtube, más de veinte mil twits y
            más de veinte mil búsquedas relacionadas en Google con Leticia Sabater o con su vídeo. De hecho, su
            videoclip musical pasó al octavo puesto de tendencias diarias.</p><br>
        <p>En años sucesivos, Sabater estrenaría nuevos temas en la misma línea artística: letras de alto contenido
            sexual, una puesta en escena deliberadamente extravagante (con abundante uso de disfraces y croma) y un
            constante matiz humorístico. Entre estos se encuentran Toma pepinazo (2017), El polvorrón (2018), 18
            centímetros papi (2019) o Vete al carajo tra tra (2020).</p>
        </main>
</body>

</html>